# dependencies
.Makefile

# object files
*.o

# executables
castro
castro-*
chex
chex-*
moy
moy-*
pentagod
pentagod-*
trex
trex-*

# valgrind output
callgrind.out.*

# pdf generation
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.out
*.toc
*.properties.xml
*.make
*.d
*.fls

