# dependencies
.Makefile
.Makefile.local

# object files
*.o
*.o-*

# executables
morat-*
test
test-*

# valgrind output
callgrind.out.*

# pdf generation
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.out
*.toc
*.properties.xml
*.make
*.d
*.fls
